<ul class="pagination justify-content-center" style="margin:20px 0">

    {% if query.has_previous %}
    <li class="page-item"><a class="page-link" href="?search_term={{search_term}}&page=1">First</a></li>
    <li class="page-item"><a class="page-link" href="?search_term={{search_term}}&page={{ query.previous_page_number }}">&laquo;</a></li>
    {% endif %}

    {% if query.number|add:'-2' > 1%}
    <li class="page-item"><a class="page-link" href="?search_term={{search_term}}&page={{ query.number|add:'-5' }}">&hellip;</a></li>
    {% endif %}

    {% for page in query.paginator.page_range %}
    {% if query.number == page %}
    <li class="page-item active"><a class="page-link" href="?search_term={{search_term}}&page={{ page }}">{{ page }}</a></li>
    {% elif page > query.number|add:'-3' and page < query.number|add:'3' %}
    <li class="page-item"><a class="page-link" href="?search_term={{search_term}}&page={{ page }}">{{ page }}</a></li>
    {% endif %}
    {% endfor %}

    {% if query.number|add:'2' < query.paginator.num_pages %}
    <li class="page-item"><a class="page-link" href="?search_term={{search_term}}&page={{ query.number|add:'5' }}">&hellip;</a></li>
    {% endif %}

    {% if query.has_next %}
    <li class="page-item"><a class="page-link" href="?search_term={{search_term}}&page={{ query.next_page_number }}">&raquo;</a></li>
    <li class="page-item"><a class="page-link" href="?search_term={{search_term}}&page={{ query.paginator.num_pages }}">Last</a></li>
    {% endif %}


</ul>
<p class="text-center">Total Records: {{ count }} | Showing {{ query.number }} to {{ query.paginator.num_pages }} of
    {{ query.object_list|length }} entries</p> 