{% extends 'administrator/base.html' %}
{% load static %}
{% load custom_tags %}



{% block title %}
Admin Manage Authors
{% endblock title%}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock additional_css %}


{% block content_body %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'ndrppcwp_admin_app:index_page' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'ndrppcwp_admin_app:authors' %}">Manage Authors</a></li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools">
                        <a href="{% url 'ndrppcwp_admin_app:authors_add' %}" class="btn bg-gradient-success btn-sm"
                            data-toggle="tooltip" data-placement="top" title="Add new author">
                            <i class="fas fa-plus"></i> Add new author
                        </a>
                    </div>
                </div>
                <div class="card-body">

                    {% include 'partials/_messages.html' %}

                    <table class="table table-bordered">
                        <thead class="text-center">
                            <tr>
                                <th>Prefix</th>
                                <th>First Name</th>
                                <th>Middle Name</th>
                                <th>Last Name</th>
                                <th>Suffix Name</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>


                            {% for i in query %}
                            <tr>
                                <td>{{i.prefixes}}</td>
                                <td>{{i.f_name}}</td>
                                <td>{{i.m_name}}</td>
                                <td>{{i.l_name}}</td>
                                <td>{{i.s_name}}</td>
                                <td class="text-center" style="width: 10% !important;">
                                    <div class="btn-group">
                                        <a href="{{i.get_absolute_url_edit}}" class="btn bg-gradient-warning"
                                            data-toggle="tooltip" data-placement="top" title="Edit">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a href="{{i.get_absolute_url_delete}}" class="btn bg-gradient-danger"
                                            data-toggle="tooltip" data-placement="top" title="Delete">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="text-center text-danger">No Record Available!</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


</div>
{% endblock content_body %}


{% block rearscript %}
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>

<script src="{% static 'js/micelleneous/getcookies.js' %}"></script>
<script src="{% static 'js/administrator/author/author.js' %}" defer></script>
{% endblock rearscript %}